.w1 {
  text-align: center;
  margin-bottom: 1rem;
}
.services__content {
  display: grid;
  place-items: center;
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.107);
  padding: 2rem 4rem;
  border-radius: 1.25rem;
}
.parent {
  display: flex;
}
.services__content-info {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.services__content-info > a {
  margin-top: -2rem;
}
.services__content-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .services__content-info {
    width: 60%;
    align-items: center;
  }
  .services__content-info > span {
    margin-top: 1rem;
  }
  .services__content-info > a {
    margin-top: 0rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .parent {
    display: block;
  }
  .services__content-info {
    width: 100%;
  }
}

